<div class="container-fluid mt-3">
  <form>
    <div class="form-group">
      <label for="inputDescription">Desciption</label>
      <input type="text" [(ngModel)]="category.description" class="form-control" id="inputDescription"
             placeholder="Description" name="description">
    </div>
    <div class="form-group">
      <label for="inputDayOfDebit">Day of debit</label>
      <input type="text" [(ngModel)]="category.dayOfDebit" class="form-control" id="inputDayOfDebit"
             placeholder="Day of debit" name="dayOfDebit">
    </div>
    <input type="hidden" [(ngModel)]="category.id" id="inputId" name="id"/>
    <button type="submit" [disabled]="noneSet()" (click)="saveCategory()" class="btn btn-outline-secondary">
      <fa name="save" class="mr-2"></fa>
      Save
    </button>
  </form>
</div>
